<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d54308a0-56a5-4ada-b4d4-0d9b10f57b02/resourcegroups/EnergySimplyResourceGroup/providers/Microsoft.Web/sites/EnergySimplyWebV1</ResourceId>
    <ResourceGroup>EnergySimplyResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://energysimplywebv1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>energysimplywebv1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EnergySimplyWebV1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EnergySimplyWebV1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EnergySimplyConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:energysimplywebv1dbserver.database.windows.net,1433;Initial Catalog=EnergySimplyWebV1_db;User ID=ZedMeister@energysimplywebv1dbserver;Password=M3!$t3r0fZ3d" Name="Data Source=tcp:energysimplywebv1dbserver.database.windows.net,1433;Initial Catalog=EnergySimplyWebV1_db;User Id=ZedMeister@energysimplywebv1dbserver;Password=M3!$t3r0fZ3d" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EnergySimplyDAL.EF.EnergySimplyEntities, EnergySimplyDAL" MigrationConfiguration="EnergySimplyDAL.Migrations.Configuration, EnergySimplyDAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EnergySimplyConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:energysimplywebv1dbserver.database.windows.net,1433;Initial Catalog=EnergySimplyWebV1_db;User Id=ZedMeister@energysimplywebv1dbserver;Password=M3!$t3r0fZ3d</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>